{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": { "tabWidth": 2 }
        }
    ]
}
